@import "tailwindcss";

.Root {
  isolation: isolate;
}

a {
  @apply text-blue-600 transition-colors hover:text-blue-800;
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

@utility palt {
  font-feature-settings: "palt" 1;
}
